a:hover {
  background-color: #333;
}

code {
  display: block;
  background: #333;
  color: #fff;
  padding: 1em;
  font-size: 16px;
  text-align: justify;
}

code a {
  color: #aaa;
  text-decoration: underline;
}

h2#objective {
  margin-top: 0;
}

ul li {
  text-align: justify;
}

/* p {
  text-align: justify;
} */

.skill-highlight {
  font-size: 20px;
  color: #333;
  font-style: italic;
}

.skill-item {
  margin: 0.25em;
  padding: 0.25em;
  border: 1px solid black;
  display: inline-block;
  /* border-radius: %; */
}

ul#list-work {
  list-style-type: none;
  padding-left: 0;
}

ul#list-work li {
  margin: 1em 0;
}

ul#list-work li table tr td a.link-name{
  text-decoration: underline;
  font-weight: bold;
  font-style: italic;
}

#skill-list {
  padding-left: 40px;
}

table tr td {
  padding: 5px;
}

footer {
  text-align: center;
}

table tr td.key {
  width: 200px;
}

#table-infomation tr td a {
  text-decoration: underline;
}

.right {
  float: right;
}
