@font-face {
  font-family: NotoSans;
  src: url(/assets/fonts/Noto_Sans/NotoSans-Regular.ttf);
}

@font-face {
  font-family: NotoSans-Bold;
  src: url(/assets/fonts/Noto_Sans/NotoSans-Bold.ttf);
}

html {
  font-family: NotoSans;
  margin: 0.5em 1em;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-family: NotoSans-Bold;
  font-size: 30px;
  color: black;
}

h1#logo {
  display: inline-block;
}

h1#logo:hover a {
  color: white;
  -webkit-text-stroke: 1.5px black;
}

h1#logo span {
  font-size: 14px;
}

h1#logo:hover span {
  color: white;
  -webkit-text-stroke: 1px black;
}

small#menu {
  display: block;
}

small#menu a:hover {
  text-decoration: underline;
}

table tr td {
  padding: 5px 20px;
}
