html {
  font-family: 'Noto Sans', sans-serif;;
  margin: 0.5em 1em;
  scroll-behavior: smooth;
}

a {
  color: black;
}

a:hover {
  background-color: black;
  color: #ddd;
  text-decoration: none;
}

h1 {
  display: inline-block;
}

h1 span {
  font-size: 14px;
}

h1 a {
  text-decoration: none;
}

h1:hover a, h1:hover a span {
  background-color: white;
  -webkit-text-stroke: 1px black;
  color: white;
}

small#menu {
  display: block;
}

img {
  margin: 1em 0;
  display: block;
}



/* code {
  display: block;
  background: #333;
  color: #fff;
  padding: 1em;
  font-size: 16px;
  text-align: justify;
}

code a {
  color: #aaa;
  text-decoration: underline;
}

table tr td {
  padding: 5px;
} */
